<h1></h1>

<dl>
  <dt>Data de início:</dt>
  <dd><%= l r.start_date %></dd>
  <dt>Data de término:</dt>
  <dd><%= l r.end_date %></dd>
  <dt>Cliente:</dt>
  <dd><%= r.customer.name %></dd>
  <dt>Categoria:</dt>
  <dd><%= r.carcategory.name %></dd>
</dl>
<%end %>