<h1>Fabricantes</h1>
<%= link_to 'Registrar novo fabricante', new_manufacturer_path %>
<div class="notice">
  <%= notice %>
</div>
<ul>
    <% @manufacturers.each do |m|%>
        <li><%= link_to  m.name, m %></li>
    <%end%> 
</ul>
<%= link_to 'Voltar', root_path %>